.share-button {
    padding: 0.5rem;
    border-radius: 9999px;
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
}

.share-button:hover {
    background-color: rgba(255,255,255,0.1);
    transform: scale(1.10);
}

.share-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(255,255,255,0.2);
}

.share-button svg {
    width: 1.5rem;
    height: 1.5rem;
}